<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huxiaoyang.mapper.HeroMapper">
	<select id="queryAll" parametertype="map" resultType="com.huxiaoyang.beans.Hero">
		SELECT * from t_heros h, t_camp c WHERE h.cid=c.cid
		<if test="cid != null and cid != ''">
			and c.cid=#{cid}
		</if>
		<if test="status != null and status != ''">
			and h.status=#{status}
		</if>
		<if test="startPrice != null and startPrice != ''">
			and h.price>=#{startPrice}
		</if>
		<if test="endPrice != null and endPrice != ''">
			and h.price&lt;=#{endPrice}
		</if>
	</select>
	
	<insert id="addHero" parametertype="com.huxiaoyang.beans.Hero">
		insert into t_heros(name,price,cid,status) values(#{name},#{price},#{cid},#{status})
	</insert>
	
	<select id="queryHeroById" parametertype="int" resultType="com.huxiaoyang.beans.Hero">
		select * from t_heros where id=#{0}
	</select>
	
	<update id="updateHero" parametertype="int">
		update t_heros set status=1 where id=#{0}
	</update>
	
</mapper>
